<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveclass active" [routerLinkActiveOptions] = "{exact:true}">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveclass active" routerLink="/InnerTodo">InnerTodo</a></li>
      <li class="nav-item"><a class="nav-link" routerLinkActive="myActiveclass active" routerLink="/notFound">NotFound</a></li>

    </ul>
  </nav>
</header>

<app-registation></app-registation>
<app-home></app-home>
<app-innertodo></app-innertodo>
<app-page-not-found></app-page-not-found>